/*Universal Styles*/ 

/*Header*/ 

#main-top-bg{

    display: grid;
    grid-template-rows: max-content 1fr; 
    grid-template-columns: 1fr 1fr;



    background-image: url('resources/banner_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    width: 100%; 
    height: 100vh;  

    grid-template-areas: "c-logo menu"
                         "playButton playButton"; 
                         
}

/** Comany Logo**/ 
#c-logo{
    grid-area: c-logo;
}
#comp-logo{

    width: 35vw;
    height: auto;
}
  
  /*Nav*/

  nav{
    grid-area: menu;
    justify-items: end; 
    align-self: center;
  }

  .menu ul{
    display: flex;
    justify-content:space-around;
  }

  .menu ul a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
  }

  .menu ul a:hover{
    text-decoration: underline;
  }

  /*Section */ 

  /** Play Area**/ 

  #play-button{

    grid-area: playButton; 
    align-self: end;
    justify-self: center;
    padding-bottom: 5%;  

  }

   #play-button .bttn{
    transition:all .5s ease-in-out;
    /* color: white;
    background: black; */

    background: #e82559;
    background-image: -webkit-linear-gradient(top, #e82559, #ed2f42);
    background-image: -moz-linear-gradient(top, #e82559, #ed2f42);
    background-image: -ms-linear-gradient(top, #e82559, #ed2f42);
    background-image: -o-linear-gradient(top, #e82559, #ed2f42);
    background-image: linear-gradient(to bottom, #e82559, #ed2f42);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Georgia;
    color: #ffffff;
    /* font-size: 20px; */
    font-size: 1.55rem;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  #play-button .bttn:hover{

    background:white;
    color:black; 
    text-decoration: none;
  }

  .scroll-down {
    position: absolute;
    left: 50%;
    bottom: 15px;
    display: block; 
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    z-index: 9;
    left: 50%; 
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation:    fade_move_down 4s ease-in-out infinite;
    animation:         fade_move_down 4s ease-in-out infinite;
  }
  
  
  /*animated scroll arrow animation*/
  @-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @keyframes fade_move_down {
    0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
  } 
  
  /*Main Content */
  
  main{

     /* display: grid; */
/*
    grid-template-areas: "about-us about-us about-us about-us about-us about-us "
                          "cr1-img cr1-img cr1-img cr1-txt cr1-txt cr1-txt"   
                          "cr2-txt cr2-txt cr2-txt cr2-img cr2-img cr2-img" 
                          "membership membership membership membership membership membership"  
                          "cr3-pkg1 cr3-pkg1 cr3-pkg2 cr3-pkg2 cr3-pkg3 cr3-pkg3"
                          "cr4-disc cr4-disc cr4-disc cr4-disc cr4-disc cr4-disc"  
                          "events events events events events events"
                          "cr5-ev1 cr5-ev1 cr5-ev1 cr5-ev2 cr5-ev2 cr5-ev2"
                          "cr6-ev3 cr6-ev3 cr6-ev3 cr5-ev4 cr5-ev4 cr5-ev4"
                          "cr7-loc cr7-loc cr7-loc cr7-desc cr7-desc cr7-desc"
                          "cr8-time cr8-time cr8-time cr8-desc cr8-desc cr8-desc"; */
/* 
    grid-template-areas: "about-us"
                         "membership"
                         "events"
                         "play-now"; */
                  
  }



  /** General Main Content Styling **/ 

  .sectionTitle{

  font-size: 2.25rem;
  font-weight: bold; 
  color: #4c6277;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif; 

  padding-bottom: 1.5%;


  
  }

  main section{
    padding-top: 1.5%; 
    padding-bottom: 1.5%;

  }
  
  main section:nth-child(2n){

    background-color: #0a1321;
    color: whitesmoke;

  }

  /** About Us**/ 

  #aboutUs {

    /* grid-area: about-us; */

    }

   #aboutUs .scontent{

    display: grid;
    /* grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr); */

    grid-template: repeat(2,1fr) / repeat(2,1fr);
    column-gap: 10px;    
    row-gap: 20px;
    padding-left: 1.5%;
    padding-right: 1.5%;

    justify-items: center;
    align-items: center;


   }

   #aboutUs .desc{

    line-height: 1.5rem;

   }

   #aboutUs img{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   }

  #aboutUs .imgContainer{

    width: 50%;
    height: 190px;
    overflow: hidden;

    align-self: center;
    justify-self: center;

  }

  #aboutUs .imgContainer img{

    max-height: 100%;
    width: auto;
    display: block; 

  }

  /** Memberships **/ 

  #membership{

    /* grid-area: membership; */
    
  }

  #membership .scontent{

    display: grid;
    /* grid-template-areas: "mpkg1 mpkg2 mpkg3"
                          "discl discl discl";
       grid-template-columns: repeat(3,1fr);
 */
    grid-template-areas: "mpkg1 mpkg2 mpkg3"
                         "discl discl discl";
    grid-template-columns: repeat(3,1fr);
    
    
    justify-content: center;

    column-gap: 10px;    
    row-gap: 20px;
    padding-left: 1.5%;
    padding-right: 1.5%; 

    margin: 1.5%;

  }

  #m1{

    grid-area: mpkg1;
  }

  #m2{
    grid-area: mpkg2;
  }

  #m3{
    grid-area: mpkg3;
  }

  #membership .m-package{
    border: solid whitesmoke;
    display: flex;
    align-items: center; 
    flex-direction: column; 
  
  }

  .m-package ul {
    list-style: circle;
    list-style-position: inside;
    padding-left: 2%; 
    padding-bottom: 1.5%; 
    padding-top: 1.5%;
  }

  .m-package li{

    line-height: 1.5rem;
  }

  .m-package h3{

    text-align: center;
    font-size: 1.75rem;
    font-weight: normal;  
    padding-top: 10%;
    padding-bottom: 2.5%;

  }

  .m-package .price{

    border: solid whitesmoke;

    font-size: 1.2rem;
    text-align: center;
    width: fit-content;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;

    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 2%;
    margin-right: 2%;

  }

  #membership .c-symb{

   /* grid-area: csymb;  */
   justify-self: center;
   align-self: center;

   font-size: 1.5rem;
  }

  #membership .c-txt{

   /* grid-area: ctxt; */
  }

  #membership .disclaimer{

      grid-area: discl; 
      display: grid;
      /* grid-template-columns: 2% 98%; */
      grid-template-areas: "csymb ctext";
      column-gap: 1%;

     /* grid-area: discl;
     display: flex; */
     

  }

  /** Events **/ 

  #events{

   /* grid-area: events; */
  }

  #events .scontent{

    display: grid;
    grid-template-areas: " ev1 ev2 "  
                         " ev3 ev4 "; 
    grid-template-columns: repeat(2,400px);

   /* justify-items: center; 
     align-items: center;*/
      /* justify-content: center;  */
      justify-content: center; 
    /* align-content: space-between;  */

    column-gap: 20px;    
    row-gap: 20px;
    padding-left: 1.5%;
    padding-right: 1.5%;

    margin: 1.5%;
  }

  #events .event{

    /* padding-left: 2%; 
    padding-right: 2%;  */


    border: 1.5px solid black;

    /* display: flex;
    flex-direction: column;   */


  }

  #events .ename, #events .eDate{

    text-align: center;  
  }

  #events .ename{

    padding-top: 10%;
    padding-bottom: 25%; 

    font-size: 1.75rem;
    font-weight: normal;  
    justify-self: center;
  }

  #events .eDate{

    /* margin-top: 25%;  */

    padding-top: 5%;
    padding-bottom: 5%;  

    border-top: 1.5px solid black;
    justify-self: flex-end;

  }

  #events .ename{

    background-color: aliceblue;

  }
  
  
  /** Play Now **/ 


  #playNow .scontent{

    /* grid-area: play-now; */

    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 2%;
    padding-bottom: 2%;

    display: grid;
    grid-template-areas: " loc_title map "  
                         " t_title times ";  
   
    grid-template-columns: repeat(2,max-content); 

    /* grid-template-areas: " loc"  
                         " time"; 
    grid-template-columns: 50%; */

    justify-content: center;
    column-gap: 5%;
    row-gap: 5%; 
  }

  #playNow h3{

    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif; 
  }

  #playNow .loc{
    grid-area: loc_title;

    
    /* display: flex; 
    justify-content: space-between;
    align-content: center; */
  }

  #playNow iframe{

    grid-area: map;

  }

  #playNow .time{
    grid-area: t_title;

    /* display: flex;
    justify-content: space-between; */
  }

  #playNow ul{

    grid-area: times;
  }
  
  /*Footer*/ 

  footer{
    margin: 1.5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer .copyright {

    font-size: 15px;    
  }

  footer .social{

  }
  
  footer .social > a {
    font-size:12x;
    width:30px;
    height:30px;
    line-height:30px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  footer .social > a:hover {
    opacity:0.9;
  }
  
  